
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '宋体', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    background: url("../image/AboutUs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background: #264b76;
    z-index: 100;
    color: white;
    /*transition: all 0.5s ease;*/
}

.sidebar .list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar .startbuttom{
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-width 0.2s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.startbuttom::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* 初始宽度为0 */  
    height: 2px; /* 下划线的高度 */  
    background-color: #000; /* 下划线的颜色 */  
    transition: width 0.3s ease; /* 平滑过渡效果 */
}

.startbuttom:hover::after {
    width: 100%;
}

.selfpage{
    margin: 25px;
    position: relative;
    position: fixed;
    overflow: auto;
    /* background: #E4E9F7; */
    height: 100vh;
    left: 100px;
    width: calc(100% - 100px);
}
.selfpage *{
    margin: 10px;
    text-align: center;
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '宋体', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    background: url("../image/AboutUs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background: #264b76;
    z-index: 100;
    color: white;
    /*transition: all 0.5s ease;*/
}

.sidebar .list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar .startbuttom{
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-width 0.2s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.startbuttom::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* 初始宽度为0 */  
    height: 2px; /* 下划线的高度 */  
    background-color: #000; /* 下划线的颜色 */  
    transition: width 0.3s ease; /* 平滑过渡效果 */
}

.startbuttom:hover::after {
    width: 100%;
}

.selfpage{
    margin: 25px;
    position: relative;
    position: fixed;
    overflow: auto;
    /* background: #E4E9F7; */
    height: 100vh;
    left: 100px;
    width: calc(100% - 100px);
}
.selfpage *{
    margin: 10px;
    text-align: center;
}
