/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '楷体', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: url("../image/loginBackground.jpg");
    /*background-color: #ffffff;*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/*以上一致*/

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    }
   
.achievement-list {
    list-style-type: none;
    padding: 0;
}

/*成就框*/
.achievement-item {
    background-color: #cfcfcf;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s,transform 0.3s;
}


.achievement-item:hover {
    background-color: #d2d2d2;
    transform: scale(1.05);
}

.achievement-title {
    font-size: 18px;
    margin: 0;
    transition: filter 0.3s;
}

.achievement-details {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #6f6f6f;
}

.backbuttom {
    font-size: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-width 0.2s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.backbuttom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    /* 初始宽度为0 */
    height: 2px;
    /* 下划线的高度 */
    background-color: #000;
    /* 下划线的颜色 */
    transition: width 0.3s ease;
    /* 平滑过渡效果 */
}

.backbuttom:hover::after {
    width: 100%;
}
    