/*该css用于一般的游戏页面*/

/*导入字体并设置默认格式*/
*{
    margin: 0;
    padding: 0;
}

/*背景属性设置*/
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/*对话框*/
.dialog{
    position: absolute;
    bottom: 2%;
    left:0;
    width: 98%;
    height: 20%;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(70, 73, 12, 0.2);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
    z-index: -1;
}

/*对话*/
#text-box{
    position: absolute;
    bottom: 4%;
    left: 15%;
    width: 80%;
    height: 20%;
}
#text-box p{
    color: rgb(255, 255, 255);
    font-family: 微软雅黑, sans-serif;
    font-size: 30px;
    text-align: left;
    text-shadow: 2px 2px 5px black;

    margin-bottom: 0.5%;
}

/*小立绘（头像）*/
#small{
    position: absolute;
    top: 72%;
    left: 2%;
    width: 25%;
}
#small img{
    width: 40%;
}

/*菜单栏*/
#menu{
    position: absolute;
    bottom: 3%;
    right: 5%;
    width: auto;
    height: 3%;
}
.op{
    float: right;
    border-style: none;
    font-family: Qaligo;
    color: white;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    transition: 0.2s;

    margin: 0px 10px 0px 10px;
}
.op:hover{
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.3);
    text-decoration: none;
}
.op:active{
    box-shadow: none;
    text-decoration: none;
}

/*大立绘*/
.left{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 31%;
    height: 90%;
    z-index: -2;
}
.middle{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 31%;
    height: 90%;
    z-index: -2;
}
.right{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 31%;
    height: 90%;
    z-index: -2;
}
.left img{
    height: 90%;
}
.middle img{
    height: 90%;
}
.right img{
    height: 90%;
}

/*选项*/
#selection_box{
    position:absolute;
    bottom: 45%;
    width: 70%;
}
.selection{
    width: 100%; 
    height:auto;
    margin-top: 20px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-family: '楷体';
    color: rgb(0, 0, 0);
    gap: 20px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    border-radius: 85px;
    backdrop-filter: blur(5px);
    background-image: url('../image/button/select.png');
    /*background-color: rgba(15, 55, 39, 0.3);*/
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}
.selection:hover{
    transform: translateX(4px);
    transform: translateY(-4px);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.8) 2px 8px 8px;
    color: rgb(0, 0, 0);
    /*background-color: rgba(231, 157, 18, 0.459);*/
    background-image: url('../image/button/select_hover.png ');
    background-position: center;
    background-size: 170% 100%;
}
.selection:active{
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.8) 2px 8px 8px;
    color: rgb(37, 195, 166);
    background-image: url('../image/button/select_click.png');
    /*background-color: rgba(231, 157, 18, 0.459);*/
}

/*特殊选项*/
#_selection_box{
    position:absolute;
    bottom: 45%;
    width:auto;
}
._selection{
    width: 300px; 
    height:auto;
    margin-top: 20px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-family: 方正清刻本悦宋简体;
    color: rgb(233, 233, 233);
    gap: 20px;
    text-shadow: 2px 2px 5px black;
    
    border-radius: 85px;
    backdrop-filter: blur(5px);
    background-color: rgba(1,100,114, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}
._selection:hover{
    transform: translateX(4px);
    transform: translateY(-4px);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.8) 2px 8px 8px;
    color: rgb(162, 204, 251);
    /*background-color: rgba(231, 157, 18, 0.459);*/
}
._selection:active{
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.8) 2px 8px 8px;
    color: rgb(169, 209, 255);
    /*background-color: rgba(231, 157, 18, 0.459);*/
}



/* gamebutton :  */

.menuwindow{
    width: 800px;
    height: 500px;
    position: fixed;
    top: 50%;left: 50%;transform: translate(-50%, -50%); /* 居中 */
    visibility: hidden;
    /* background: rgba(60, 213, 252, 0.3); */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    z-index: 9999;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
.menuwindow.active{
    visibility: visible;
    transition: 0.5s;
}
#config_h1{
    text-align: center;
    margin-top: 40px;
}

#save_h1{
    text-align: center;
    margin-top: 40px;
}

.menutitle{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 4px 4px;
    color: #fff;
}

.menubox{
    margin: 50px 40px;
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: 30px;
    height: 60px;
}

.menubox:nth-child(2){
    margin-top: 70px;
}

.menuitemleft{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
    width: 40%;
    left:10%;
    color: #00aaff;
    float: left;
    letter-spacing: 0.5em;
    text-align: center;
}
.menuitemright{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
    color: #00aaff;
    float: right;
    right: 20%;
    letter-spacing: 0.5em;
}


#volume_{
    right: 17%;
}


#menuback{
    position: fixed;
    top: 90%;left: 50%;transform: translate(-50%, -50%);
    padding: 10px 20px;
    color:#00aaff;
    font: 20px STZhongsong;
    font-weight: 600;
    background-color: antiquewhite;
    border: 2px white;
    border-radius: 20px;
}

#menuback:hover{
    background-color:#00aaff;
    color: #fff;
}

#save_check{
    position: fixed;
    top: 60%;left: 50%;transform: translate(-50%, -50%);
    padding: 20px 30px;
    font: 30px STZhongsong;
    font-weight: 600;
    color: #00aaff;
    border: 2px white;
    background-color:antiquewhite;
    border-radius: 20px;
}

#save_check:hover{
    background-color:#00aaff;
    color: #fff;
}

#achievement_{
    font-family: STZhongsong;
    font-weight: 2000;
}

#process_{
    font-family: STZhongsong;
    right:4%;
}

.loader {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(0,0,0,1);
    display: flex;  
    justify-content: center;  
    align-items: center;  
    z-index: 1000; 
    transition: opacity 2s ease-in-out; /* 可选：遮罩层淡出效果 */  
}
.loader .text {  
    text-align: center;
    padding: 10%;
    opacity: 0; 
    transition: opacity 1s ease-in-out; /* 文字淡入淡出效果 */ 
    font-size: 24px;  
    color: white;  
}
.loader.active .text {  
    opacity: 1;
}

@media (max-width: 1000px) {
    #small {
        width: 50%;
        left: 5%;
    }

    #small img {
        width: 80%;
    }

    #small {
        position: absolute;
        top: 75%;
        left: 2%;
        width: 18%;
    }
    
    #menu {
        bottom: 5%;
        right: 10%;
        height: 5%;
    }

    .op {
        font-size: 10px;
    }

    .left {
        position: absolute;
        top: 10%;
        left: 0%;
        width: 10%;
        height: auto;
        z-index: -2;
    }
    
    .middle {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 31%;
        height: 90%;
        z-index: -2;
    }
    
    .right {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 50px;
        height: auto;
        z-index: -2;
    }
    #text-box p{
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    #small {
        position: absolute;
        top: 75%;
        left: 0%;
        width: 23%;
    }
    .selection{
        font-size: 80%;
    }
}

@media (max-width: 300px) {
    #small {
        display: none;
    }
    .selection{
        font-size: 80%;
    }
}