/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '宋体', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: url("../image/loginBackground.jpg");
    /*background-color: #ffffff;*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.startmain {
    position: fixed;
    overflow: hidden;
    display: grid; 
    place-items: center;
    width: 100%;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.startmain .text {
    font-size: 30px;
    border-bottom: 2px solid transparent;
    padding: 5px;
    display: inline-block;
}

.startmain .startbuttom{
    font-size: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-width 0.2s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.startbuttom::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; /* 初始宽度为0 */  
    height: 2px; /* 下划线的高度 */  
    background-color: #000; /* 下划线的颜色 */  
    transition: width 0.3s ease; /* 平滑过渡效果 */
}

.startbuttom:hover::after {
    width: 100%;
}
