html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(../../image/loginBackground.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: sans-serif;
}

#pacman {
    height: 500px;
    width: 500px;
    border-radius: 5px;
    margin: 0px auto;
}

#shim {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    visibility: hidden
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #0000FF;
}

.game-info {
    text-align: center;
    color: rgb(0, 0, 0);
}