html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(../../image/bg/game/电玩城.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: sans-serif;
}

#pacman {
    height: 500px;
    width: 500px;
    border-radius: 5px;
    margin: 0px auto;
}

#shim {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    visibility: hidden
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #0000FF;
}

.game-info {
    text-align: center;
    color: rgb(255, 255, 255);
}

#endScreen {
    display: none;
    /* 默认隐藏 */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

#endMessage {
    font-size: 40px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 10px;
    text-align: center;
    font-family: '宋体', sans-serif;
}

#endMessage .score {
    font-size: 100px;
}

#returnButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #e55800;
    text-decoration: none;
    border-radius: 5px;
}

#returnButton:hover {
    background-color: #b94700;
}

@media (max-width: 1200px) {
    #endScreen {
        width: 50%;
        height: 40%;
    }

    #endMessage {
        font-size: 35px;
        padding-left: 70px;
        padding-right: 70px;
    }

    #endMessage .score {
        font-size: 80px;
    }

    #returnButton {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 900px) {
    h1 {
            font-size: 24px;
        }
    
    .game-info {
            font-size: 14px;
    }
    
    #endScreen {
        width: 70%;
        height: 50%;
    }

    #endMessage {
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #endMessage .score {
        font-size: 60px;
    }

    #returnButton {
        font-size: 16px;
        padding: 6px 12px;
    }
}