html, body {
    display: grid;
    height: 100%;
    width: 100%;
    background-image: url(../../image/loginBackground.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: sans-serif;
}

#pacman {
    height: 600px;
    width: 400px;
    border-radius: 5px;
    margin: 20px auto;
}

#shim {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    visibility: hidden
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
}

a {
    text-decoration: none;
    color: #0000FF;
}

#endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    overflow: hidden;
    place-items: center;
    width: 35%;
    height: 30%;
}

#endMessage {
    font-size: 40px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 10px;
    text-align: center;
    font-family: '宋体', sans-serif;
}

#endMessage .score {
    font-size: 100px;
}

#returnButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #e55800;
    text-decoration: none;
    border-radius: 5px;
}

#returnButton:hover {
    background-color: #b94700;
}