body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../image/bg/game/体育馆.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    cursor: none;
}

#gameArea {
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border: 2px solid #000;
    overflow: hidden;
}

#target {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, red 27%,black 27% 30%,yellow 30% 100%);
    cursor: crosshair;
    border: 1px solid black;
    transition: transform 0.6s ease, opacity 0.3s ease;
}

#target.clicked {
    animation: flip 0.3s forwards;
    pointer-events: none;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }

    100% {
        transform: perspective(400px) rotateX(180deg);
        opacity: 0;
    }
}

#score,
#timer {
    position: absolute;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#score {
    top: 10px;
    left: 10px;
}

#timer {
    top: 10px;
    right: 10px;
}

#endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    overflow: hidden;
    place-items: center;
    width: 35%;
    height: 30%;
}

#endMessage {
    font-size: 40px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 10px;
    text-align: center;
    font-family: '宋体', sans-serif;
}

#endMessage .score {
    font-size: 100px;
}

#returnButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #e55800;
    text-decoration: none;
    border-radius: 5px;
}

#returnButton:hover {
    background-color: #b94700;
}